.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.minimal-button {
    border: 2px solid;
    background: none;
}

.minimal-button:hover{
    border:2px dotted;    
}

.match-container{
    width:100%;
    overflow:hidden;
}

.modal-winner {
    position: fixed;
    bottom: 0;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    color:#FFF;
    text-align:center;
    display:table;
    height:100%;
}

.modal-winner h1 {
    font-size:4em;    
}

.modal-winner h1 span{
    color:#ffd08e;
}

.btn {
    border-radius: 0px !important;
}

.modal-winner .modal-winner-container{
    display:table-cell;
    vertical-align:middle;
}

.modal-winner p, .modal-winner h3 {
    background: rgba(0,0,0,0.3);
    padding: 10px;
}

.match-container .screen{
    height:57vh;
    position:relative;
}

.match-container .screen .header-player{
    position:absolute;
    top:0;
    font-size:2em;
}

.match-container .board{
    margin-top:6em;
}

.match-container .result-message {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 99;
    display: table;
    height: 100%;
    color: #FFF;
    text-align: center;
    font-size:3em;
}

.match-container .result-message-container {
    display:table-cell;
    vertical-align:middle;
}

.result-container {
    position: fixed;
    bottom: 0;
    border-top: 2px solid #CCC;
    color: #000;
    height: 30vh;
    overflow: scroll;
    width: 100%;
}

.match-container .screen:nth-child(2){
    border-left:2px dotted #000;
}

@media(max-width:767px) {
    .match-container .screen {
        height: 30vh;
    }
    .match-container .screen:nth-child(2) {
        border-top: 2px dotted #000;
        border-left:none;
    }
    .match-container .board {
        margin-top: 0em;
    }
}